{% extends 'base.html.twig' %}

{% block title %}Liste des périphériques
{% endblock %}

{% block body %}
	<table>
		<tr>
			<th>Identifiant</th>
			<th>Nom</th>
			<th>Marque</th>
			<th>Prix</th>
			<th>Type</th>
		</tr>
		{% for device in devices %}
			<tr>
				<td>{{ device.id }}</td>
				<td>{{ device.name }}</td>
				<td>{{ device.brand }}</td>
				<td>{{ device.price }}€</td>
				<td>{{ device.type }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
