{% extends 'base.html.twig' %}

{% block title %}Liste des périphériques
{% endblock %}

{% block body %}
	<table class="table">
		<thead class="thead-dark">

			<tr>
				<th scope="col">Identifiant</th>

				<th scope="col">Nom</th>

				<th scope="col">Marque</th>

				<th scope="col">Prix</th>

				<th scope="col">Type</th>

			</tr>
		</thead>

		{% for device in devices %}
			<tr>
				<th scope="row">{{ device.id }}</th>

				<td>{{ device.name }}</td>
				<td>{{ device.brand }}</td>
				<td>{{ device.price }}€</td>
				<td>{{ device.type }}</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
